<table>
    <tr>
        <th >
            <%= f.label(:name, "Name") %>
        </th>
        <td>
            <%= f.text_field(:name) %>
        </td>
        </div>
    </tr>
        <tr>
        <th >
            <%= f.label(:content, "Content") %>
        </th>
        <td>
            <%= f.text_field(:content) %>
        </td>
        </div>
    </tr>
</table>