<% @topic_title = "Delete topic" %>


<div>
    <h2>Delete Page</h2>
    
    <%= form_for(:topic, :url => {:action => 'destroy', :id => @topic.id, :category_id => @category.id}) do |f| %>
    
    <p>Are you sure you want to delete this topic?</p>
    
    <p><%= @topic.name %></p>
    
    <div>
        <%= submit_tag("Delete Page") %>
    </div>
    <% end %>
</div>