<% if !@category.name.include?('Staff') && User.where(:id => @topic.user_id).pluck(:id)[0] == session[:id] || session[:role] == 1 %>
<% @topic_title = "Delete topic" %>


<div>
    <h2>Delete Topic</h2>
    <div class="panel panel-default" style="margin-top:5px;">
      <div class="panel-heading niceText" style="background: #333; color: #fff;">Remove Topic</div>
      <div class="panel-body">
        <%= form_for(:topic, :url => {:action => 'destroy', :id => @topic.id, :category_id => @category.id}) do |f| %>
        
        <p>Are you sure you want to delete <span class="label label-default"><%= @topic.name %></span> topic?</p>
    
      </div>
    </div>
<% end %>
    
    
    
    

    
    <div style="float:right;">
        <%= submit_tag("Delete Page") %>
    </div>
    <% end %>
     <button class="btn btn-default"><%= link_to("Back", {:category_id => @category.id, :action => 'index'}, :class => 'action index') %></button>
</div>