<% @page_title = "Login" %>

<div>
     <div class="panel panel-default">
      <div id="topic-header" class="panel-heading">
         <h2;<h1 style="color:#f74d28;">Login</h1>
      
      </div> 
     <!--end topic-header-->
     </div>
     <!--end panel panel-default 0-->
    
      <div class="panel panel-default marginup15px">
        <div class="panel-body">
            <table class="table table-default">

                        <i>Please login with an email with the format </i>'<b>firstname.lastname@kcl.ac.uk</b>'.
                         <button class="btn btn-default" style="color:#f74d28; background:#000000; padding: 10px 50px 10px 50px;" onclick="window.location.href = '/login'">Login</button>
                     
              
     
            </table>    
        </div>
        <!--end panel-body-->
      </div>     
      <!--end panel-heading-->
    </div>