<div class="form-group">
    <%= f.label(:content, "Topic Content:") %> <%# This is another label for the topic content %>
    <%= f.text_area :content, class: "form-control" %>  <%# This is a text area where the user can enter text %>
</div>
