<% @page_title = "Delete Category" %>

<div>
    <h2>Delete Category</h2>
    <%= form_for(:category, :url => {:action => 'destroy', :id => @category.id}) do |f| %>
    <h5>Category to delete:<p style="color:red"><%= @category.name %></p></h5>
    <div>
        <%= submit_tag("Delete") %>
    </div>
    <% end %>
</div>