<% @page_title = "Categories" %>

<div>
     <div class="panel panel-default">
      <div id="topic-header" class="panel-heading">
         <h2 style="margin-left: 5px; margin-top: 5px;">Categories</h2>
      </div> 
     <!--end topic-header-->
     </div>
     <!--end panel panel-default 0-->
    
      <div class="panel panel-default marginup15px">
      
      	<div class="panel-heading niceTextSm" style="background: #333; color: #fff;">Current Categories:</div>
      
        <div class="panel-body">

            <table class="table table-default">
 
               <% @categories.each do |category| %>
                <tr>
                     <td><%= link_to(category.name, {:controller => 'topics', :category_id => category.id}, :class => 'action index') %></td>
                </tr>
                <% end %>
     
            </table>    
        </div>
        <!--end panel-body-->
      </div>     
      <!--end panel-heading-->
    </div>
    
    
    
    
    
</div>