<% @page_title = "Categories" %>

<div>

    
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:black; color:red;">
            <h4 class="niceGoogleFont">Categories</h4>
        </div>
        <div class="panel-body niceGoogleFont">
           <ul class="niceGoogleFont" style="">
            <% @categories.each do |category| %>
            <li style="margin-top:15px; list-style:none;" >
                
                     <%= link_to(category.name, {:controller => 'topics', :category_id => category.id}, :class => ' label label-default niceGoogleFont', :style => ' font-size:20px;  ') %>

                 
            </li>
            <% end %>
        </ul>     
        </div>
        
        
    </div>
</div>