<!DOCTYPE html>
<html>
  <head>
    <title>Student's Connect| <%= @page_title || "Admin" %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
  </head>
  <body>
    <header class="main_header clearfix">
      <div class="wrapper">
        <div id="logo">
          <p></p>
        </div>     
    </header>
    <div class="wrapper">
      <% if !flash[:notice].blank? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="wrapper">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; Pistachio Team</p>
    </div>
  </body>
</html>
